empl-sapi/src/main/mule/add-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="095c9a87-69d9-4825-9756-1b229b0333b8" basePath="emp-sapi" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="81908517-662e-4a85-9cca-175048bea302" >
		<db:oracle-connection host="localhost" user="system" password="Sai" instance="xe" />
	</db:config>
	<flow name="add-employeeFlow" doc:id="8a6886ca-10f1-4357-bf07-d38879e78257" >
		<http:listener doc:name="post /emp-sapi/add-employee" doc:id="1b4d016c-5ad1-47bb-9a2f-2b07d3ed9f0a" config-ref="HTTP_Listener_config" path="/add-employee" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="60c649af-fb74-4b51-955e-b63fd6da7b64" message="*add employee flow started #[payload]"/>
		<db:insert doc:name="Insert" doc:id="17521cae-fd9d-45ca-bf44-3476fb89c570" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into emptable(emp_id,emp_name,emp_satus) values(:emp_id,:emp_name,:emp_satus)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"emp_id": payload.empid,
	"emp_name": payload.empname,
	"emp_satus": payload.empstatus
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="prepareResponse" doc:id="6b53ab3d-753b-437e-8de6-6573ec470e08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3555efde-ab3f-47b6-9c68-677b31132a47" message="*Record inserted* #[payload]"/>
	</flow>
</mule>
