empl-sapi/src/main/mule/emp-delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="emp-delete-employeeFlow" doc:id="d1c0da87-8c94-4550-8cdd-965c8ee042d9" >
		<http:listener doc:name="Listener" doc:id="75e2c6f9-a109-408e-bb7a-b37123e90d27" config-ref="HTTP_Listener_config" path="delete-employee/{empid}"/>
		<db:delete doc:name="Delete" doc:id="9362b4a7-5b19-485a-9167-dbdfd5c30609" config-ref="Database_Config1">
			<db:sql ><![CDATA[delete emptable where emp_id = :emp_id]]></db:sql>
			<db:input-parameters ><![CDATA[#["emp_id": attributes.uriParams.empid]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="99034dc5-1562-4131-99e8-374db29ae937" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 200,
	message: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3334cf6e-4e57-4581-89d1-37e4da31caff" message="*record deleted"/>
	</flow>
</mule>
