integrate-aws-createfile/src/main/mule/integrate-aws-createfile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8bb512fe-b334-4a22-97fe-ecc013f5686a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="fa4efa03-bd4c-4892-ae1d-33a75115d217" >
		<s3:basic-connection accessKey="AKIAIPRK7A457DBBBXEQ" secretKey="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" />
	</s3:config>
	<s3:config name="Amazon_S3_Configuration2" doc:name="Amazon S3 Configuration" doc:id="4b5c93f5-be1c-4f83-9fbf-1c099b5b2d91" >
		<s3:basic-connection accessKey="AKIAIPRK7A457DBBBXEQ" secretKey="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" region="US_EAST_2" />
	</s3:config>
	<flow name="integrate-aws-createfileFlow" doc:id="1d8b71fa-aa71-4512-8051-926a56c222b0" >
		<http:listener doc:name="Listener" doc:id="6b752c87-0c78-467a-b608-398cc0c708d1" config-ref="HTTP_Listener_config" path="/aws" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="9b7f1799-3c74-49b1-80bc-62c57fd9dfe1" message="#[payload]"/>
		<s3:create-object doc:name="Create object" doc:id="f036f451-5a81-4e79-8ce2-5c1bd56d6888" config-ref="Amazon_S3_Configuration" bucketName="suja-employee-csv" key="#['MyFile' ++ (now() as String{format:'yyyy-MM-dd-hh-mm-ss'})++'.txt']"/>
	</flow>
	<flow name="integrate-aws-createfileFlow1" doc:id="3e36747e-cc61-46c4-8827-629c44fc6c2f" >
		<http:listener doc:name="Listener" doc:id="4747b18d-3689-4cf1-991e-39600e96dd9b" config-ref="HTTP_Listener_config" allowedMethods="POST" path="/createBucket"/>
		<s3:create-bucket doc:name="Create bucket" doc:id="f86857f1-18f3-419e-b4e1-440cfdd46e1a" config-ref="Amazon_S3_Configuration" bucketName='#["sujabucket2"]' region="US_EAST_2" acl="PUBLIC_READ_WRITE"/>
		<s3:create-object doc:name="Create object" doc:id="a6270537-25d4-46f6-ba90-e4c095b11010" config-ref="Amazon_S3_Configuration" bucketName='#["sujabucket2"]' key="jsonfile" acl="PUBLIC_READ_WRITE"/>
		<set-payload value='#["Bucket &amp; Object Created"]' doc:name="Set Payload" doc:id="d91d6263-133e-433f-9c41-354e6c6fa778" />
	</flow>
	<flow name="integrate-aws-createfileFlow2" doc:id="aba43d38-9d85-48c8-8f30-21c33af1dc7d" >
		<http:listener doc:name="Listener" doc:id="2b57575a-bd91-4427-a110-dd5b9d846584" config-ref="HTTP_Listener_config" path="/deleteObj"/>
		<s3:delete-object doc:name="Delete object" doc:id="0bd4fdfc-1f40-4d42-acef-1e3dd9a4513b" config-ref="Amazon_S3_Configuration" bucketName="#['sujabucket2']" key="#['jsonfile']"/>
		<set-payload value="#['Object Deleted']" doc:name="Set Payload" doc:id="eb3280b2-051e-46b4-91e8-54c09b2537f5" />
	</flow>
	<flow name="integrate-aws-createfileFlow3" doc:id="e1082c2d-9a0d-4570-80a0-95fb2f5145dd" >
		<http:listener doc:name="Listener" doc:id="bb9ff1e9-13cc-4ee6-9c9d-51c212b5cfa5" config-ref="HTTP_Listener_config" path="/deleteBucket"/>
		<s3:delete-bucket doc:name="Delete bucket" doc:id="978928f9-198d-4767-a9c9-cb41d00f8efb" config-ref="Amazon_S3_Configuration2" bucketName="sujabucket2"/>
		<set-payload value="#['Bucket Deleted']" doc:name="Set Payload" doc:id="6332425f-84cb-4017-af76-11d7a3a46e56" />
	</flow>
	<flow name="uploadandDownloadFilesCreateObjPresignedUri" doc:id="d7558448-4d9f-44d1-acd0-dfae09ef2207" >
		<http:listener doc:name="Listener" doc:id="47d42d9c-c509-418b-adc4-e5ab12cd3ea4" config-ref="HTTP_Listener_config" path="/uri"/>
		<ee:transform doc:name="Transform Message" doc:id="0d1db273-9bde-48c0-a841-f50fce1c8648" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<s3:create-object doc:name="Create object" doc:id="66e2b061-77be-40da-b4d2-0336b22351d4" config-ref="Amazon_S3_Configuration" bucketName="suja-employee-csv" key="employee.csv"/>
		<set-variable value="#[(now() + |P6D|) as LocalDateTime]" doc:name="Set Variable" doc:id="c20dfb66-117f-4fb9-8fb9-5040958e8055" variableName="s3timestamp"/>
		<s3:create-object-presigned-uri doc:name="Create object presigned uri" doc:id="ac621644-1649-4fb1-8779-b3de16256ca6" config-ref="Amazon_S3_Configuration" bucketName="suja-employee-csv" key="employee.csv" expiration="#[vars.s3timestamp]" method="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="3a0634d7-0e85-412a-a241-44dcb0b2588c" message="presigned uri obj created"/>
		<ee:transform doc:name="Transform Message" doc:id="69043ec5-67b9-47fa-920b-a439b159741e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"S3URL": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
