foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="cc3d8e02-f422-4d4a-9edc-b665b395f7d9" >
		<file:connection workingDir="C:\suja\APDevFundamentals4.3_studentFiles_13jul2020\APDevFundamentals4.3_studentFiles_13jul2020\resources\input" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="b2106c58-53db-429b-a380-8e5a47bf4d91" >
		<file:connection workingDir="C:\suja\APDevFundamentals4.3_studentFiles_13jul2020\APDevFundamentals4.3_studentFiles_13jul2020\resources\output" />
	</file:config>
	<flow name="foreachFlow" doc:id="ab87627d-7b2a-4132-a7ca-c7b89c927d82" >
		<file:listener doc:name="On New or Updated File" doc:id="b9786703-1410-4f28-8a40-e0f886043034" config-ref="File_Config" directory="C:\suja\APDevFundamentals4.3_studentFiles_13jul2020\APDevFundamentals4.3_studentFiles_13jul2020\resources\input" autoDelete="true" moveToDirectory="C:\suja\APDevFundamentals4.3_studentFiles_13jul2020\APDevFundamentals4.3_studentFiles_13jul2020\resources\output">
			<scheduling-strategy >
				<fixed-frequency frequency="5000"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="6ef4c682-b413-43b8-bc94-e25774783a17" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="86f2ba30-66e1-482c-8733-d63a5d668b68" message="**Before for each**"/>
		<foreach doc:name="For Each" doc:id="c991c817-ab86-4313-9755-03cde01a97af" >
			<logger level="INFO" doc:name="Logger" doc:id="d8a91edb-c0ca-4da5-85e6-4b3e17817ec5" message='#[payload]'/>
			<set-variable value="#[payload.policyID]" doc:name="Set Variable" doc:id="0ef3a57a-2bfe-4370-b2b2-2860ac07b09e" variableName="insuranceFileName"/>
			<ee:transform doc:name="Transform Message" doc:id="09017c7a-e557-4b2d-9121-9465acf82373" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="355ee796-2695-4b11-81aa-90076ce5f890" config-ref="File_Config1" path='#[vars.insuranceFileName ++ ".csv"]'/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="342ae38d-bb2f-4dce-b2b9-d84f275ac946" message="**after for each**"/>
	</flow>
</mule>
