github-filteringmsg/src/main/mule/github-filteringmsg.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2690fd7-df80-411b-818f-02054dbf574f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-filteringmsgFlow" doc:id="b6d552f9-9d0c-425b-b815-9fcd65a84a34" >
		<http:listener doc:name="Listener" doc:id="49c43055-3b8b-48df-ac40-8bd92a341562" config-ref="HTTP_Listener_config" path="/filter"/>
		<validation:is-not-empty-collection
			doc:name="Validate if payload is not empty collection" doc:id="00d572ae-bc14-4668-9ee0-d4c220ccf3b9"
			message="Payload is empty collection! We are expecting 1 record at least!" />
		<foreach doc:name="For Each" doc:id="b75f73cc-9361-4256-ae54-2d20616c00d0"
			collection="payload">
			<validation:is-not-null doc:name="Validate if record contains email"
				doc:id="c9c9d905-46aa-4f4a-84a5-b95d44c3c21d" value="#[payload.email]"
				message='#["Record: " ++ write(payload, "application/json") ++ " does not contain email!"]' />
			<validation:is-email doc:name="Validate email format"
				doc:id="0a5e3e8e-1455-4128-afe4-55850908d58e" email="#[payload.email]"
				message='#["Email in record: " ++ write(payload, "application/json") ++ " is not valid!"]' />
			<validation:is-not-null doc:name="Validate if record contains connection info"
				doc:id="6963c3c7-9e30-45af-85f8-32b0177befce" value="#[payload.connectionInfo]"
				message='#["Record: " ++ write(payload, "application/json") ++ " does not contain conection info!"]' />
			<validation:is-not-blacklisted-ip
				doc:name="Validate if IP address is not on blacklist" doc:id="fb273743-286c-49a9-ac91-04b11193a4ed"
				ipAddress="#[payload.connectionInfo.IPAddress]"
				message='#["IP address of record: " ++ write(payload, "application/json") ++ " is on blacklist!"]'>
				<validation:black-list ips='#[["40.125.118.175"]]'>
				</validation:black-list>
			</validation:is-not-blacklisted-ip>
		</foreach>
		<set-payload value='#[output text/plain --- "User records are valid!"]'
			doc:name="Prepare response" doc:id="b98b9a23-825d-4022-a0a9-36dd53992d44"
			mimeType="text/plain" />
	
	
	
	</flow>
</mule>
